@import './variables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

body {
    overflow: hidden;

}

label {
    font-family: 'EB Garamond', serif;
}

* {
    scrollbar-width: 10px;
    scrollbar-color: var(--button_active);
  }

  *::-webkit-scrollbar {
    width: 24px;
  }

  *::-webkit-scrollbar-track {
    background: var(--button_sharp);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--button_active);;
    border-radius: 10px;
    border: 3px solid var(--button_active);;
}

.theme-background {
    background-color: #fff;
}

.instruments {

    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -101vh);
    z-index: 5;
    gap: 2rem;
    


    transition: all 1s ease-in-out;

    input {
        display: none;
    }

    .input_label {
        width: 12rem !important;
        height: 6rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500 !important;
        font-style: initial;

        cursor: pointer;
    }


    .instrument_item {
        font-size: 2.4rem;
        border-radius: 1rem;
        padding: 2rem 4rem;
        border: none;
        background: var(--primary_button);
        color: var(--primary_background);
        font-weight: 500;
        width: 20rem;
        height: 10rem;

        transition: all .2s ease-in-out; 

        p {
            font-size: 1rem;
        }

        &:hover {
            background-color: var(--primary_button_active);
            color: var(--primary_button);
            cursor: pointer;
        }



    }

    .instrument_active {
        background-color: var(--primary_button_active);
        color: var(--primary_button);

        &:hover {
            cursor: unset;
        }
    }

    .disabled {
        pointer-events: none;
        color: var(--primary_background);
        opacity: 0.5;
    }
}

.inactive {
    transform: translate(-50%, -50%);
    transition: transform 1s ease-in-out;
}

.sample_input {
    
}

.loader {
    background-color: var(--primary_button);
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    .loader_inside {
        background-color: var(--primary_background);
        outline: 10px dotted var(--primary_sharp);
        outline-offset: 5px;
        width: 70%;
        height: 70%;
        border-radius: 50%;

        animation: spin 3s infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@import './adaptive.scss'