@import '../../css/variables';

.envelope_knob {
    display: grid;
    grid-template: 

    div {
    }
}

.knob {
    background-color: white;
    margin: "20%";
    height: "20px";
    fontFamily: "Arial";
    color: "white"; 
}
