@import '../../css/variables';

.envelope {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;


    div {
        width: 5rem;
        margin: 1rem;
    }
}

.input {
    font-size: 2rem;
    text-align: center;
    

}

text {
    color: white;
}

