
:root {
    --primary_background: #1E1E1E;
    --primary_button: #F2F2F2;
    --primary_sharp: #171717;
    --primary_button_active: #9D9D9D;
    --primary_sharp_active: #2D2D2D;

    --bluish_background: #0C002D;    
    --bluish_button: #C2C1EF;
    --bluish_sharp: #04001E;
    --bluish_button_active: #5F52AE;
    --bluish_sharp_active: #0C0054;

    --reddish_background: #430800;
    --reddish_button: #EEBBB7;
    --reddish_sharp: #290000;
    --reddish_button_active: #F25E5E;
    --reddish_sharp_active: #880000;

    --purplish_background: #2F003A;
    --purplish_button: #E8CAF2;
    --purplish_sharp: #17001D;
    --purplish_button_active: #D8B330;   
    --purplish_sharp_active: #3C2000;
}