@import './variables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

.piano_wrapper {
    background-color: $primary_background;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

.button {
    width: 7rem;
    height: 25rem;
    background-color: $primary_button;
    border: 4px solid $primary_background;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    box-sizing: border-box;


    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem;

    font-weight: 500;
    font-size: 3rem;
    font-family: 'EB Garamond', serif;
    

    color: $primary_background;
    &:hover {
        cursor: pointer;
    }

}


.button_sharp {
    background-color: $primary_sharp;
    border: none;
    width: 5rem;
    height: 15rem;  
    z-index: 100;
    border-radius: 0 0 1rem 1rem;
    margin-left: -2.5rem;
    margin-right: -2.5rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem;

    color: $primary_button;

    font-weight: 500;
    font-size: 2rem;
    font-family: 'EB Garamond', serif;

    &:hover {
        cursor: pointer;
    }
}

.upper_buttons>.button:first-child, 
.lower_buttons>.button:first-child {
    border-radius: 2.5rem 0 1rem 1rem;
}

.upper_buttons>.button:last-child, 
.lower_buttons>.button:last-child {
    border-radius: 0 2.5rem 1rem 1rem;
}



.upper_keyboard {
    display: flex;
    justify-content: center;
    .upper_buttons {
        display: flex;
    }
}

.lower_keyboard {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    .lower_buttons {
        display: flex;
    }
}