@import './variables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 10px;
    scrollbar-color: var(--button_active);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 24px;
  }

  *::-webkit-scrollbar-track {
    background: var(--button_sharp);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--button_active);;
    border-radius: 10px;
    border: 3px solid var(--button_active);;
  }

// классы для смены темы
.theme-background {
    background-color: #fff;
}
//---------------------

.piano_wrapper {
    background-color: var(--primary_background);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
}

.button {
    width: 7rem;
    height: 25rem;
    background-color: var(--primary_button);
    border: 4px solid var(--primary_background);
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    box-sizing: border-box;


    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem;

    font-weight: 500;
    font-size: 3rem;
    font-family: 'EB Garamond', serif;
    

    color: var(--primary_background);
    &:hover {
        cursor: pointer;
    }

}

.button_active {
    background-color: var(--primary_button_active);
}

.button_text_hidden {
    color: var(--primary_button);
}

.button_sharp {
    background-color: var(--primary_sharp);
    border: none;
    width: 5rem;
    height: 15rem;  
    z-index: 100;
    border-radius: 0 0 1rem 1rem;
    margin-left: -2.5rem;
    margin-right: -2.5rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem;

    color: var(--primary_button);

    font-weight: 500;
    font-size: 2rem;
    font-family: 'EB Garamond', serif;

    &:hover {
        cursor: pointer;
    }
}

.button_sharp_active {
    background-color: var(--primary_sharp_active);
}

.button_sharp_hidden {
    color: var(--primary_sharp);
}

.upper_buttons>.button:first-child, 
.lower_buttons>.button:first-child {
    border-radius: 2.5rem 0 1rem 1rem;
}

.upper_buttons>.button:last-child, 
.lower_buttons>.button:last-child {
    border-radius: 0 2.5rem 1rem 1rem;
}



.upper_keyboard {
    display: flex;
    justify-content: center;
    .upper_buttons {
        display: flex;
    }
}

.lower_keyboard {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    .lower_buttons {
        display: flex;
    }
}