@import './variables';


.main-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.extra-controls {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
    top: 60%;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;

    background-color: var(--primary_button);

    z-index: 3;

    transition: all .7s cubic-bezier(.26,1.21,1,.94);
    opacity: 0.5;
    transform: translateX(-100%);


    .show-controls-arrow {
    transition: all .7s cubic-bezier(.26,1.21,1,.94);
    }

    &:hover {
        transform: translateX(0%);
        opacity: 1;

        .show-controls-arrow {
            transform: rotateZ(180deg);
            border-radius: 1rem 0rem 0rem 1rem;

        }
    }

    .show-controls {
        background-color: var(--primary_button);
        color: var(--primary_sharp);
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-10%, -50%);
        padding: 1rem 0;
        padding-top: 1.3rem;
        overflow: hidden;
    
        border-radius: 0rem 1rem 1rem 0rem;
        font-size: 3rem;
    
        transition: all .7s cubic-bezier(.26,1.21,1,.94);
    }
}



.slider_wrapper {
    background-color: var(--primary_button);
    transform: rotate(-90deg) translate(-40%, -125%);
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    z-index: 2;
    opacity: 0.5;

    transition: all .2s;

    &:hover {
        opacity: 1;
    }


}

input[type=range].range {   
    width: 15rem;       
    height: 1rem;
    -webkit-appearance: none;
    border-radius: 100rem;
    background-color: var(--primary_button_active);
}

input[type=range].range::-moz-range-thumb {
    -webkit-appearance: none;
    background: var(--primary_sharp);
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--primary_sharp);
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
}

input[type=range].range::-moz-range-progress {
    background: var(--primary_background);
    height: 100%;
    border-radius: 100rem;
}

.effect-slider {
    background-color: var(--primary_sharp);
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    z-index: 2;
    transition: all .2s;
    
    font-size: 1.6rem;
    border: var(--primary_button) 3px solid;

    input[type=range].range {   
        width: 7rem;       
        height: 1rem;
        -webkit-appearance: none;
        border-radius: 100rem;
        background-color: var(--primary_button);
    }

    input[type=range].range::-moz-range-thumb,
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: var(--primary_button);
        border: none;
        width: 2rem;
        height: 2rem;
        border-radius: 100rem;
    }

    input[type=range].range::-moz-range-progress {
        background: var(--primary_button_active);
        height: 100%;
        border-radius: 100rem;
    }
}



.themes {
    margin: 0 1rem;
    z-index: 2;
}

.theme_selector {
    padding: 0;
    border-radius: 50%;
    width: 6rem;
    margin: 1rem 0;
    height: 6rem;
    border: none;
    display: flex;
    opacity: 0.5;

    transition: all .2s ease;

    &:hover:not(:last-child) {
        cursor: pointer;
        transform: rotate(180deg);
        opacity: 1;
    }
}

.theme_1 {
    background: linear-gradient(90deg, var(--black_button) 50%, var(--black_sharp) 50%);

}

.theme_2 {
    background: linear-gradient(90deg, var(--purplish_button_active) 50%, var(--purplish_sharp) 50%);

}

.theme_3 {
    background: linear-gradient(90deg, var(--reddish_button_active) 50%, var(--reddish_sharp) 50%);
}

.theme_4 {
    background: linear-gradient(90deg, var(--bluish_button_active) 50%, var(--bluish_sharp) 50%);
}

.toggle_text {
    background-color: var(--primary_button);
    color: var(--primary_sharp);
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 3rem;
    font-family: 'EB Garamond', serif;

    transition: all .5s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--primary_sharp);
        border: 3px solid var(--primary_button);
        opacity: 1;
    }
}

.effects {
    background-color: var(--primary_button)
}

.reverb {
    margin-top: 1rem;
    position: relative;

    &::before {
        content: 'reverb';
        font-weight: 700;
        position: absolute;
        color: var(--primary_sharp);
        top: -70%;
    }
}

.delay-duration {
    margin-top: 1.5rem;
    &::before {
        content: 'delay';
        font-weight: 700;
        position: absolute;
        color: var(--primary_sharp);
        top: 27%;
    }
}

.delay-feedback {

}

.octave {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

    button {
        width: 3rem;
        height: 3rem;
        padding: 0;
        margin: 0;
        background-color: var(--primary_sharp);
        border: none;
        border-radius: 1rem;

        transition: all .2s ease-in-out;
        color: var(--primary_button);

        font-size: 2rem;
        padding-bottom: 0.3rem;    
        &:hover {
            background-color: var(--primary_button);
            color: var(--primary_sharp);
            border: 3px solid var(--primary_sharp);
            cursor: pointer;
        }
    }

    h1 {
        font-size: 2rem;
        color: var(--primary_sharp);
    }

    .octave-down {

    }

    .octave-up {

    }

    &::before {
        content: 'octave';
        font-weight: 700;
        position: absolute;
        color: var(--primary_sharp);
        top: 70%;
        font-size: 1.7rem;
    }

}

@import './adaptive.scss'
