@import './variables';


.controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.slider_wrapper {
    background-color: var(--primary_button);
    transform: rotate(-90deg) translate(-40%, -125%);
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    z-index: 2;
    opacity: 0.5;

    transition: all .2s;

    &:hover {
        opacity: 1;
    }
}

input[type=range].range {   
     width: 15rem;       
     height: 1rem;
     -webkit-appearance: none;
     border-radius: 100rem;
     background-color: var(--primary_button_active);

}

input[type=range].range::-moz-range-thumb,
input[type=range].range::-webkit-slider-thumb{
    background-color: var(--primary_sharp);
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
}

input[type=range].range::-moz-range-progress,
input[type=range].range::-webkit-slider-runnable-track {
    background: var(--primary_background);
    height: 100%;
    border-radius: 100rem;
}

.themes {
    margin: 0 1rem;
    z-index: 2;
}

.theme_selector {
    padding: 0;
    border-radius: 50%;
    width: 4rem;
    margin: 1rem 0;
    height: 4rem;
    border: none;
    display: flex;
    opacity: 0.5;

    transition: all .2s ease;

    &:hover:not(:last-child) {
        cursor: pointer;
        transform: rotate(180deg);
        opacity: 1;
    }
}

.theme_1 {
    background: linear-gradient(90deg, var(--black_button) 50%, var(--black_sharp) 50%);

}

.theme_2 {
    background: linear-gradient(90deg, var(--purplish_button_active) 50%, var(--purplish_sharp) 50%);

}

.theme_3 {
    background: linear-gradient(90deg, var(--reddish_button_active) 50%, var(--reddish_sharp) 50%);
}

.theme_4 {
    background: linear-gradient(90deg, var(--bluish_button_active) 50%, var(--bluish_sharp) 50%);
}

.toggle_text {
    background-color: var(--primary_button);
    color: var(--primary_sharp);
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 2rem;
    font-family: 'EB Garamond', serif;

    transition: all .5s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--primary_sharp);
        border: 3px solid var(--primary_button);
        opacity: 1;
    }
}